.admin-page {
  padding: 20px;

  .form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 10px;
    }
  }

  .product-list {
    .product-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}
