.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  &.dark {
    background-color: #333;
    color: white;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  nav ul {
    display: flex;
    list-style: none;

    li {
      margin-right: 20px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .actions {
    button {
      margin-left: 10px;
    }
  }
}
